.footer-copywrite {
    font-size: 12px;
}

.footer-link {
    display: block;
    font-size: 14px;
    color: $body-color;
    text-decoration: none;
}

.footer-link-section {
    background-color: #f8f8f8;
}